:root {
    --color-primary: orangered;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background\ coffee.png);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
    .cart .bi {
        font-size: 2rem;
    }

    .cart {
        width: max-content;
    }
}

/* responsif image */
@media  (max-width: 576px) {
    #about .coffee3 {
        width: 300px;
        height: 200px;
    }
}

.cart span {
    height: 20px;
    width: 20px;
}

.nav-item:hover {
    background-color: var(--color-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

[class*="orange"] {
    color: var(--color-primary);
}

#home {
    background-color: #d7d8daf1;
}

#home .pict-coffee, .menu {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

main {
    background-color: #1b1b1dfa;

}

.order {
    background-color: var(--color-primary);
    color: white;
}

[class^='swiper-button']::after {
    display: none;
}

[class^='swiper-button'] {
    z-index: 0;
}

/* .badges h4 {
    font-size: 1em;
    margin: 0 ;
}
.badges p {
    font-size: 1em;
    margin: 0;
} */